
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* ol, ul {
	list-style: none;
} */
li {
  width: 75px;
}
div.crystal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: rgba(128, 128, 128, 0.618);
  border: 3px dashed;
  margin: 10px;
}

div.crystals-list {
  display: flex;
  flex-direction: row;
}
div.dragon-list {
  display: flex;
  flex-direction: row;
}
div.dragon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  background-color: rgba(36, 90, 31, 0.504);
  border: 3px solid rgba(177, 42, 42, 0.964);
  margin: 10px;
}


